.arrow-btn-wrapper {
    position: absolute;
    right: 15px;
    top: 7px;
    display: flex;
    gap: 10px
}

.arrow-btn {
    background: #F5F2FF;
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 40px;
    color: #f5f2ff;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-btn:disabled{
    background: #F7F7F7;
    cursor: default;
}