.template-wrap {
    position: absolute;
    z-index: 11;
    background-color: transparent;
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }
  
  .template-wrap-inner {
    display: flex;
    width: 40%;
    height: 40px;
    margin: auto;
    margin-block: 150px;
  }
  
  .template-edit-txt {
      display: none;
  }
  
  .template-wrap:hover {
      background-color: rgba(0, 0, 0, 0.5);
  }
  
  .template-wrap-inner:hover {
    cursor: pointer;
  }
  
  .template-wrap:hover .template-edit-txt {
    display: flex;
    margin: auto;
    color: white;
    font-size: 2.5em;
    text-decoration: underline;
  }
  
  .template-name-field {
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin: "auto";
    background-color: white;
    height: 70px;
    text-align: center;
    z-index: 10;
    border-style: solid;
    border-color: #d6d9dc;
    border-width: 2px;
    border-end-start-radius: 4px;
    border-end-end-radius: 4px;
    font-size: 18px;
    padding-top: 20px;
  }
  
  .template {
    transform: scale(0.4);
    transform-origin: top left;
    width: 250%;
    height: 250%;
    border-color: #d6d9dc;
    border-radius: 10px;
    border-width: 4px;
    border-style: solid;
  }
  
  .row {
    justify-content: space-evenly;
    margin-top: 15px;
    margin-inline: 0;
  }
  
  .col {
    overflow: hidden;
    height: 400px;
    max-width: 350px;
    margin-bottom: 25px;
    margin-inline: 15px;
  }
  