.canny-widget {
    position: fixed;
    right: 0;
    top: 70%;
    transform: translate(0, -50%);
    width: 32px;
    height: 140px;
    background-color: #532d7f;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    text-align: center;
    color: white;
    padding: 8px;
    z-index: 1001;
}

.get-help-el {
    position: fixed;
    right: 0;
    top: 52%;
    transform: translate(0, -50%);
    width: 32px;
    height: 140px;
    background-color: #532d7f;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    text-align: center;
    color: white;
    padding: 8px;
    z-index: 1001;
}

.get-help-el:hover {
    width: 36px;
    cursor: pointer;
}

.canny {
    position: fixed;
    top: 0;
    width: 50%;
    overflow: auto;
    background-color: lightgray;
    padding: 20px;
    overflow: auto;
    height: 100%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding-top: 25px;
}


.canny-widget:hover {
    width: 36px;
    cursor: pointer;
}

.canny-el {
    position: fixed;
    top: 0%;
    right: -50%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: white;
    width: 50%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    z-index: 1000;
}

.link-canny {
    padding-top: 5px;
    padding-left: 20px;
    position: absolute;
    z-index: 1;
}

.slide-in-widget {
    animation: slide-in-widget 1.25s forwards;
    -webkit-animation: slide-in-widget 1.25s forwards;
}

.slide-out-widget {
    animation: slide-out-widget 1.25s forwards;
    -webkit-animation: slide-out-widget 1.25s forwards;
}

.slide-in-el {
    animation: slide-in-el 1.25s forwards;
    -webkit-animation: slide-in-el 1.25s forwards;
}

.slide-out-el {
    animation: slide-out-el 1.25s forwards;
    -webkit-animation: slide-out-el 1.25s forwards;
}

@-webkit-keyframes slide-in-el {
    100% { right: 0; }
}

@keyframes slide-in-el {
    100% { right: 0; }
}

@-webkit-keyframes slide-out-el {
    0% { right: 0; }
    100% { right: -50%; }
}

@keyframes slide-out-el {
    0% { right: 0; }
    100% { right: -50%; }
}

@-webkit-keyframes slide-in-widget {
    100% { right: 50%; }
}

@keyframes slide-in-widget {
    100% { right: 50%; }
}

@-webkit-keyframes slide-out-widget {
    0% { right: 50%; }
    100% { right: 0; }
}

@keyframes slide-out-widget {
    0% { right: 50%; }
    100% { right: 0; }
}

#roadmap-bootstraper {
    height: 85vh;
}

#crisp-chatbox > div > a > span.cc-157aw.cc-1kgzy {
    width: 33px !important;
    height: 33px !important;
    background-color: #6C20C4 !important;
  }
  
  #crisp-chatbox > div > a{
    margin-right: -10px !important;
    margin-bottom: -10px !important;
    z-index: 400!important;
  }
  
  #crisp-chatbox > div > a > span.cc-157aw.cc-1kgzy > span > span.cc-1bvfm
  {
    width: 24px!important;
    height: 24px!important;
    top: 5px!important;
    left: 4px!important;
  }
  
  @media (width <= 479px) {
    #crisp-chatbox > div > a {
      margin-right: 12px !important;
      margin-bottom: 6px !important;
    }
  }
  
  #crisp-chatbox > div > a > span.cc-157aw.cc-1kgzy > span > span.chat-background {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjIwIiB3aWR0aD0iMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE5LjM5OSAyLjA0YTEuMzM0IDEuMzM0IDAgMDAtMi4yOS0uOTNsLTcuMDU2IDcuMDU3TDIuOTk1IDEuMTFBMS4zMzMgMS4zMzMgMCAxMDEuMTEgMi45OTVsNy4wNTcgNy4wNThMMS4xMSAxNy4xMWExLjMzNCAxLjMzNCAwIDEwMS44ODUgMS44ODVsNy4wNTgtNy4wNTcgNy4wNTcgNy4wNTdhMS4zMzQgMS4zMzQgMCAxMDEuODg1LTEuODg1bC03LjA1Ny03LjA1NyA3LjA1Ny03LjA1OGExLjMzMiAxLjMzMiAwIDAwLjQwNC0uOTU1eiIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==) !important;
  }